@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
:root{
  max-width: 1400px;
  --primary-color: #20b2aa;
  --secondary-color:#ff414d;
}


.card {



#content{
  background: #fff;
  height: 100%;
  background: url("../../utility/drew-beamer-kUHfMW8awpE-unsplash.jpg") no-repeat center center/cover;

h2 {
  text-align: center;
  font-family: "Abel";
  font-size: 40px;
  padding-top: 3rem;
}

.project-intro {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0rem 6rem;
}

p:first-child {
  font-size: 25px;
  font-family: "Dancing Script";
}

p {
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
  font-family: "Abel";
  padding-top: 1rem;
}
// flex coloms
.flex-colomns{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;


  .row{
     display: flex;
     flex-direction: row;
     flex-basis: 100%;
     flex: 1;
     margin-top: 5rem;
     overflow: hidden;
     align-items: center;
     justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
     img {
       padding: 0.6rem;
       max-height: 100%;
       max-width: 100%;
     }

     .custome-button {
       position: relative;
       height: 70px;
       width: 150px;
       left: 40px;;
       align-items: center;
       text-align: center;
       justify-content: space-around;
       
     }
    .col-1, .col-2{
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
    }
    
}




}

.col-3 {
  flex: var(--col-2-width);
  background: url("../../utility/car-pic2.PNG") no-repeat center center/cover;
  height: 400px;
  width: 100%;
}

}
}