@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chilanka&family=Dancing+Script:wght@600&display=swap');

.header{
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background:var(--primary-color);
  color: white;
  z-index: 10;
  top: 0px;
  padding: 0 30px;
  opacity: 0.9;


  .logo-container{
   img{
     padding-top: 2rem;
     height: 100%;
     width: 100%;
   }  
  }

.options{
  display: flex;
  margin: 0 2rem;

.option {
  padding: 10px 3rem;
  margin: 0 10px;
  color: white;
  font-family: "Chilanka";
  font-size: 20px;
}
.option:hover{
  border-bottom: var(--secondary-color) 2px solid;
 }
 
}

}

a{
 text-decoration: none;
}
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

@media (max-width: 768px){
.header {
  flex-direction: column;
  height: 210px;
  


 .logo-container {
   img {
     padding-top: 0rem;
   }
 }

.options {
  margin: 0 0rem;

 .option {
   margin: 0 0px 1rem;
  padding: 0 1rem;
 }
  
}
  
}

}