@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=IBM+Plex+Sans:ital@1&family=Montserrat:ital@1&display=swap');

.showcase {
  height: 100vh;
  width: 100%;
  z-index: 4;
  position: relative;
  background: url("https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center/cover;


  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Chilanka";
    height: 100%;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-right: 3rem ;

    .title{
      animation-name: Moveup;
      animation-duration: 2s;
      animation-delay: 2s;
     font-family: 'Montserrat',
     sans-serif;
    }
   .btn-primary {
     padding: 16px 2rem;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border: 2px white solid;
   }
   


    p {
      font-size: 23px;
      max-width: 400px;
      margin: 5px 0 15px;
      font-family: "Dancing Script";
    }

  }

}
@keyframes Moveup{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }

  100%{
   opacity: 1;
   transform: translateX(0);
  }
}
.showcase::before{
  content: "";
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(233, 231, 231, 0.192);
  opacity: 0.2;
}

.content * {
  z-index: 3;
}

@media (max-width: 768px) {
 .showcase{
   margin-top: 13rem;
 }
}